body{
    margin: 0;
    padding: 0;
}

h1{
    font-weight: 500;
}

h2{
    font-weight: 400;
}

p{
    color: #ffffee;
    color: #626262;
    font: 300 0.975rem/1.575rem "Raleway", sans-serif;
}